.PostImage1 {
   margin-top:10rem;
}

.NoGutter > [class*='col'] {
    padding-right:0;
    padding-left:0;
}


.PostImage1 img {
    width: 100%;
    height: auto;
    position: relative;
}

.Hash {
    font-size: 15rem;
    position: absolute;
    top: 4rem;
    right: 0rem;
    color: #F5F5F5;
    text-shadow: 0px 3px 6px #00000029;
}

.PostTextWrapper1 {
    padding-right:3rem;

}

.PostTitle {
   margin-top:10rem;
   color:#2684AD;
   font-weight:bold;
   font-style:italic;
   font-size:20px;
}

.PostSubTitle {
  display:flex;
  justify-content: flex-end;
  width:100%;

}
.PostFeature {
    flex-grow:1;
    color:green;
}
.PostAuthor {
    font-weight:bold;
}
.PostText {
color:#626262;
}

.PostText2 {
    color:#626262;
    padding:0 3rem;
    }
    .PostText3 {
        color:#626262;
        padding-right:3rem;
        }

.PostImage2 img {
    width:90%;
    
}

.PostImage3 img {
    width:90%;
   
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.RelatedPostsWrapper {
    background: #fff;
    
    }
.RelatedPosts {
transform:scale(0.75);
margin-right: 15rem;
}

.RPTitle {
    margin-bottom:2rem;
    color:#2684AD;
    font-weight:bold;
    margin-left: -4rem;
}

.LatestPostsList {
    width:80%;
}


/* @media only screen and (max-width: 1150px) {

    .PostImage1 img {
        width: 32rem;
    }
    }

    @media only screen and (max-width: 1125px) {

        .PostImage1 img {
            width: 20rem;
        }
        } */